<form action="<%= goal_comments_url %>" method="POST">
<input 
  type="hidden" 
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <input 
    type="hidden" 
    name="goal_comment[goal_id]" 
    value="<%= goal.id %>">

  <label for='goal_comment_body'>Comment:</label>
  <textarea name='goal_comment[body]' id="goal_comment_body"></textarea>
  <input type="submit" value="comment">
</form>